{% extends 'base.html.twig' %}
{% block stylesheets %}

    <style>
        body {background-image: url({{ asset('media/home.jpg') }});
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
        
        .card{background:rgba(33,33,33,0.7);
            border-radius: 25px;}
    </style>

{% endblock %}
{% block title %}Se connecter{% endblock %}

{% block body %}
        <div class="container mb-5 mt-5">
        <div class="row">
        <!-- Grid row -->
        <div class="col-md-6 offset-md-3">
            <div class="card text-white">

                <div class="card-body mx-4">
                <form method="post" class="text-center">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-5">
                           Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-5 font-weight-normal">Se connecter</h1>
                    <label for="inputUsername">Nom</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-4" required autofocus>
                    <label for="inputPassword">Mot de Passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control mb-4" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}">

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <button class="btn btn-light btn-block mt-5 mb-5" type="submit">
                        Se connecter
                    </button>
                </form>
            </div>
            </div>
            </div>
            </div>
        </div>
{% endblock %}