{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
    <h1>Booking index</h1>

    <div id="calendar-holder"></div>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>BeginAt</th>
                <th>EndAt</th>
                
                <th>Description</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Actions</th>
            {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.title }}</td>
                <td>{{ booking.beginAt ? booking.beginAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ booking.endAt ? booking.endAt|date('d-m-Y H:i:s') : '' }}</td>
                
                <td>{{ booking.description }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}">show</a>
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
                </td>
            {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('booking_new') }}">Create new</a>
{% endif %}
{% endblock %}
