{% extends 'base.html.twig' %}
{% block stylesheets %}

        <style>
            body {background-image: url({{ asset('media/home.jpg') }});
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
            .card{background:rgba(33,33,33,0.7);
                border-radius: 25px;
            height: 100vh;}
        </style>

{% endblock %}
{% block title %} Nous rejoindre {% endblock %}

{% block body %}

    <div class="container mt-5 mb-5">

    <div class="row">
    <!-- Grid row -->
        <div class="col-md-6 offset-md-3">

            <div class="card text-white">

                <div class="card-body mx-4">

                    <!--Header-->
                    <div class="text-center mt-5">
                        <h3 class="text-white mb-5"><strong>Nous rejoindre</strong></h3>
                    </div>
                        {{ form_start(email_form) }}
                        {{ form_widget(email_form) }}

                    <div class="text-center mb-5 col-4">
                        <div class="g-recaptcha" data-sitekey="6LdrFsYUAAAAAFTVAS1To0nqzrgHZEKKVW0rbQ2L"></div>
                        <button class="btn btn-light">{{ button| default('Enregistrer') }}</button>
                       </div>
                    </div>
              </div>
            </div>
        </div>
        {{ form_end(email_form) }}

    </div>

{% endblock %}