{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}

    <style>
        body {background-image: url({{ asset('media/home.jpg') }});
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="container mt-5">


        <!--Section: Content-->
        <section class="text-center dark-grey-text">


            <!-- Grid row -->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">
                    <!--Card-->
                    <div class="card testimonial-card">
                        <!--Background color-->
                        <div class="card-up info-color"></div>
                        <!--Avatar-->
                        <div class=" mx-auto white">
                            <img src="{{ asset('media/platon.jpg') }}" class=" img-fluid">
                        </div>
                        <div class="card-body">
                            <!--Name-->
                            <h4 class="font-weight-bold mb-4">ROMAIN - Lead Narrative Designer</h4>
                            <hr>
                            <!--Quotation-->
                            <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Romain est issu d’une formation académique
                                en littérature et en sciences du jeu, contexte dans lequel il a - entre autres - travaillé sur le jeu de rôle
                                et sur la littérature fantastique. Grand joueur (en termes quantitatifs plutôt que qualitatifs) de jeux vidéos,
                                de jeux de société et de jeux de rôle, il passe la plupart de son temps libre à travailler sur des projets de jeux où il explore
                                les manières de créer un investissement émotionnel chez les joueurs. Son expérience en tant que MJ couvre dix années et de nombreux
                                jeux/univers différents, le plus souvent en créant ses propres scénarios et contenus. Il est le principal instigateur du Projet Odyssey,
                                né d’un désir mégalomaniaque (si si) de réunir autour d’une même table (dématérialisée qui plus est) des dizaines de joueurs et MJ différents,
                                en les faisant cohabiter dans la même temporalité et interagir les uns avec les autres.</p>
                        </div>
                    </div>
                    <!--Card-->
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">
                    <!--Card-->
                    <div class="card testimonial-card">
                        <!--Background color-->
                        <div class="card-up blue-gradient">
                        </div>
                        <!--Avatar-->
                        <div class=" mx-auto white">
                            <img src="{{ asset('media/platon.jpg') }}" class=" img-fluid">
                        </div>
                        <div class="card-body">
                            <!--Name-->
                            <h4 class="font-weight-bold mb-4">MICHAËL - Lead Designer</h4>
                            <hr>
                            <!--Quotation-->
                            <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>En tant que joueur de manière général et role player plus particulièrement,
                                Michael a surtout fait ses armes et est toujours actif sur World of Warcraft, participant à plusieurs projets de jeu de rôle à différents niveaux
                                et dans différentes situations ( gestion de guilde et investissement au niveau communautaire, création de trames et animation d’événements, etc ).
                                Ancien étudiant en philosophie, grand amateur de littérature et d’Histoire, il apprécie particulièrement le jeu de rôle pour son aspect à la fois narratif
                                et participatif, en tant que récit collaboratif dans lequel chacun mêle sa voix à celle des autres pour former une histoire globale. Séduit par les ambitions
                                affichées du Projet Odyssey et leur développement qui a donné le Collectif Taliesin, il s’intéresse et s’occupe principalement de la création des univers de jeu,
                                des mondes qui accueilleront joueurs et MJ, sur lesquels pourront se tisser trames et récits et dans lesquels chacun jouera. </p>
                        </div>
                    </div>
                    <!--Card-->
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">
                    <!--Card-->
                    <div class="card testimonial-card">
                        <!--Background color-->
                        <div class="card-up indigo"></div>
                        <!--Avatar-->
                        <div class=" mx-auto white">
                            <img src="{{ asset('media/platon.jpg') }}" class=" img-fluid">
                        </div>
                        <div class="card-body">
                            <!--Name-->
                            <h4 class="font-weight-bold mb-4">CYPRIEN - Lead Designer</h4>
                            <hr>
                            <!--Quotation-->
                            <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>
                                Provenant de la même branche génétique divergente de l’espèce couramment appelée Homo Sapiens que Romain,
                                il est en conséquence fréquent que Cyprien lui serve (parfois) de complice et (souvent) de cobaye.
                                Adepte avide des pratiques ludiques et narratives, fervent amateur de jeux de rôles et de stratégie,
                                c’est armé de ses quelques années d’expérience dans l’organisation et la direction de parties de jeu de rôle
                                (qui curieusement, sont plus nombreuses que ses années d’expérience en tant que joueur) qu’il s’est laissé prendre
                                au piège lancé dans l’aventure pour voir un peu ce que ça peut donner.
                                Il s’occupe principalement du recensement et de la coordination des trames et intrigues qui seront proposées aux joueurs,
                                et se permettra toujours de glisser (subtilement) une chance infime mais bien réelle pour ceux-ci de reprendre Jérusalem.</p>
                        </div>
                    </div>
                    <!--Card-->
                </div>
                <!--Grid column-->

                <div class="col-lg-4 col-md-6 mb-4 offset-md-2">
                    <!--Card-->
                    <div class="card testimonial-card">
                        <!--Background color-->
                        <div class="card-up indigo"></div>
                        <!--Avatar-->
                        <div class=" mx-auto white">
                            <img src="{{ asset('media/platon.jpg') }}" class=" img-fluid">
                        </div>
                        <div class="card-body">
                            <!--Name-->
                            <h4 class="font-weight-bold mb-4">CORENTIN</h4>
                            <hr>
                            <!--Quotation-->
                            <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Corentin, joueur passionné de jeux et plus particulièrement
                                de jeux de rôle depuis bientôt une vingtaine d'années et ce quel qu'en soit le support, a rejoint le collectif Taliesin afin
                                de pouvoir participer a la création de l'un d'entre eux. Il s'occupe principalement d'aider a la création de la trame principale quand
                                son travail lui laisse un peu de temps tout en essayant empêcher Romain de faire sombrer le monde dans le chaos pendant son absence.</p>
                        </div>
                    </div>
                    <!--Card-->
                </div>
                <!--Grid column-->

                <div class="col-lg-4 col-md-6 mb-4">
                    <!--Card-->
                    <div class="card testimonial-card">
                        <!--Background color-->
                        <div class="card-up indigo"></div>
                        <!--Avatar-->
                        <div class=" mx-auto white">
                            <img src="{{ asset('media/platon.jpg') }}" class=" img-fluid">
                        </div>
                        <div class="card-body">
                            <!--Name-->
                            <h4 class="font-weight-bold mb-4">ROMAIN</h4>
                            <hr>
                            <!--Quotation-->
                            <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Romain, étudiant en école d'ingénieur,
                                participe à des jeux de rôle depuis maintenant 5 ans. Il a d'abord joué à Donjons et Dragons avant d'expérimenter
                                quelques systèmes faits maison et de commencer une campagne de l'anneau unique. Il a voulu rejoindre plus récemment
                                l'équipe organisatrice pour mettre à profit le temps libre que la vie étudiante lui procure. Il s'est occupé notamment
                                de l'activité sur les réseaux sociaux, et à participé au lancement du pôle règles. </p>
                        </div>
                    </div>
                    <!--Card-->
                </div>
                <!--Grid column-->

            </div>
            <!-- Grid row -->

        </section>
        <!--Section: Content-->


    </div>
{% endblock %}