{{ form_start(form) }}
<div class="container mt-4 text-center">{{ form_row(form.statute) }}


{{ form_rest(form) }}
<button class="btn btn-dark mb-2">{{ button| default('Enregistrer') }}</button>
{{ form_end(form) }}

</div>