{% extends 'base.html.twig' %}

{% block title %}Projet Odyssey{% endblock %}
{% block stylesheets %}
    <style>
        body{}
    </style>
{% endblock %}
{% block body %}
    <h1>Projet Odyssey</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Statut</th>
                <th>Édition</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.statute }}</td>
                <td>
                    <a class="btn btn-dark" href="{{ path('project_delete', {'id': project.id}) }}">Supprimer</a>
                    <a  class="btn btn-dark" href="{{ path('project_edit', {'id': project.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_new') }}">Choisir un rôle</a>
{% endblock %}
