{% extends 'base.html.twig' %}

{% block title %}Rôle{% endblock %}

{% block body %}
    <h1>Rôle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Numéro</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ project.statute }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('project_index') }}">Retour</a>

    <a href="{{ path('project_edit', {'id': project.id}) }}">Modifier</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
